@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);

html {
    min-width: 1200px;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    background-color: #3d397b;
}

div.center {
    display: flex;
    justify-content: center;
}

#navbar {
    width: 15rem;
    height: 80vh;
    top: 10vh;
    z-index: 999;
    position: sticky;
    background: #fda3b7;
}

#navbar_title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 2rem;
    font-family: 'Satisfy', cursive;
    font-size: 2.3rem;
    color: #3d397b;
}

button.navbarButton {
    width: 15rem;
    height: 3rem;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'cwTeXFangSong', serif;
    font-size: 1.5rem;
    color: #3d397b;
}

#OOXX1 {
    width: 60rem;
    height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#profile {
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    border: 2px solid;
    border-color: #fda3b7;
    margin-left: 5rem;
    overflow: hidden;
    float: left;
}

#profilePhoto {
    width: 10rem;
    height: auto;
    object-fit: cover;
}

#sentence {
    width: 40rem;
    height: 10rem;
    margin-left: 3rem;
    margin-top: -1.5rem;
    float: left;
}

#sentence_English {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Satisfy', cursive;
    font-size: 1.8rem;
    color: #fda3b7;
}

#sentence_formula {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 2rem;
    font-size: 1.4rem;
}

#sentence_Chinese {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: -1rem;
    font-family: 'cwTeXFangSong', serif;
    font-size: 1.2rem;
    color: #fda3b7;
}

#temM1 {
    display: none;
}

#temM3 {
    display: none;
}

#temM6 {
    display: none;
}

span.English {
    font-family: 'Satisfy', cursive;
}

span.move {
    margin-left: 2rem;
}

#introduction {
    clear: both;
}

div.basic {
    margin-left: 6rem;
}

#tem1 {
    padding-top: 2rem;
}

p.introduction_B {
    font-family: 'cwTeXFangSong', serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ffffff;
}

p.introduction {
    line-height: 1.6rem;
    font-family: 'cwTeXFangSong', serif;
    font-size: 1.2rem;
    color: #ffffff;
}

#OOXX2 {
    width: 60rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#OOXX3 {
    width: 60rem;
    height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

a.link {
    font-family: 'cwTeXFangSong', serif;
    font-size: 1.2rem;
    color: #fda3b7;
}

a.link:hover {
    text-decoration: underline;
    color: #ffffff;
}

#OOXX4 {
    width: 60rem;
    height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#OOXX5 {
    width: 60rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#OOXX6 {
    width: 60rem;
    height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

img.photo {
    height: 15rem;
    object-fit: cover;
    background: #ffffff;
}